/Encontros_LP3/nbproject/private/
/Encontros_LP3/Encontros_LP3-war/nbproject/private/
/Encontros_LP3/Encontros_LP3-ejb/nbproject/private/

# Ignore everything
*

# But not these files...
!.gitignore
!*.java
!*.xml
!*.json
!*.html
!*.xhtml
!*.jar
!*.pdf
!*.properties
!*.MF
!*.jsp
!*.pdf
# etc...

# ...even if they are in subdirectories
!*/
/EncontroLibs/nbproject/private/
/Encontros_LP3/Encontros_LP3-ejb/build/
/Encontros_LP3/Encontros_LP3-ejb/dist/
/Encontros_LP3/dist/
/Encontros_LP3/build/
/Encontros_LP3/Encontros_LP3-war/build/
/Encontros_LP3/Encontros_LP3-war/dist/